numpy==1.26.4
jupyter==1.1.1
pandas==2.2.2
matplotlib==3.9.0
seaborn
scikit-learn
xlrd>=2.0.1
gensim==4.3.3
torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0
wordcloud==1.9.4
spacy!=3.7.6
nltk==3.9.1
transformers==4.43.3
pyarrow==16.1.0
datasets==2.14.5
accelerate>=0.21.0